# A Python Tutorial

### Comments in Python start with the hash character, #, and extend to the end of the physical line.

### Numbers

In [1]:
1 + 2

3

In [2]:
3-1

2

In [3]:
2 * 3

6

In [4]:
# Division (/) always returns a floating point number.
17 / 3

5.666666666666667

In [5]:
# To do floor division and get an integer result you can use the // operator
17 // 3

5

In [6]:
# To calculate the remainder you can use %
17 % 3

2

In [7]:
# Use the ** operator to calculate powers
5 ** 2

25

In [8]:
# The equal sign (=) is used to assign a value to a variable.
width = 20
height = 10
width * height

200

### Strings

In [9]:
# Strings can be enclosed in single quotes ('...') or double quotes ("...") 
x = 'spam eggs'
x

'spam eggs'

In [10]:
x = "spam eggs"
x

'spam eggs'

In [11]:
# \ can be sued to escape quotes.
x = 'doesn\'t'
x

"doesn't"

In [12]:
# You can embed on into the other.
x = "She said 'OK'"
x

"She said 'OK'"

In [13]:
x = 'She said "OK"'
x

'She said "OK"'

In [14]:
# The print() function produces a more readable output, by omitting the enclosing quotes.
print(x)

She said "OK"

In [15]:
''' If you don’t want characters prefaced by \ to be interpreted as special characters, 
    you can use raw strings by adding an r before the first quote.'''
print('C:\some\name')

C:\some
ame

In [16]:
print(r'C:\some\name')

C:\some\name

In [17]:
# String literals can span multiple lines using triple-quotes: """...""" or '''...'''
print("""
The
Python
Tutorial
""")

The
Python
Tutorial

In [18]:
# Strings can be concatenated with the + operator, and repeated with *
x = 3 * 'Wow!' + ' Great!'
x

'Wow!Wow!Wow! Great!'

In [19]:
# Two or more string literals next to each other are automatically concatenated.
text = ('Put several strings within parentheses '
        'to have them joined together.')
text

'Put several strings within parentheses to have them joined together.'

In [20]:
# Strings can be indexed (subscripted), with the first character having index 0.
word = 'Python'

In [21]:
word[0]

'P'

In [22]:
word[5]

'n'

In [23]:
# Indices may also be negative numbers, to start counting from the right.
# Since -0 is the same as 0, negative indices start from -1.
word[-1]

'n'

In [24]:
word[-6]

'P'

In [25]:
# Slicing allows you to obtain substring.
# Characters from position 0 (included) to 2 (excluded)
word[0:2]

'Py'

In [26]:
# An omitted first index defaults to zero
word[:2]

'Py'

In [27]:
# An omitted second index defaults to the size of the string being sliced.
word[2:]

'thon'

In [28]:
# Start is always included, and the end always excluded.
word[:2] + word[2:]

'Python'

In [29]:
# Out of range slice indexes are handled gracefully when used for slicing.
word[2:17]

'thon'

In [30]:
word[17:]

''

In [31]:
# Python strings are immutable, they cannot be changed.
word[0] = 'J'

TypeError: 'str' object does not support item assignment

In [32]:
word = 'Jython'
word

'Jython'

In [33]:
# The built-in function len() returns the length of a string.
len(word)

6

### Lists

In [34]:
# Lists might contain items of different types, but usually the items all have the same type.
squares = [1, 4, 9, 16, 25]
squares

[1, 4, 9, 16, 25]

In [35]:
# Lists can be indexed.
squares[0]

1

In [36]:
# Lists can be sliced.
squares[-3:]

[9, 16, 25]

In [37]:
# Lists  support concatenation.
squares + [36, 49, 64, 81, 100]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [38]:
# Lists are a mutable type, it is possible to change their content.
cubes = [1, 8, 27, 27, 125]
cubes[3] = 64
cubes

[1, 8, 27, 64, 125]

In [39]:
# You can  add new items at the end of the list, by using the append() 
cubes.append(216)
cubes

[1, 8, 27, 64, 125, 216]

In [40]:
# Assignment to slices is also possible, and this can even change the size of the list or clear it entirely.
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
letters

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [41]:
letters[2:5] = ['C', 'D', 'E']
letters

['a', 'b', 'C', 'D', 'E', 'f', 'g']

In [42]:
letters[2:5] = []
letters

['a', 'b', 'f', 'g']

In [43]:
letters[:] = []
letters

[]

In [44]:
# The built-in function len() also applies to lists.
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
len(letters)

7

In [45]:
# It is possible to nest lists (create lists containing other lists)
c = ['a', 'b', 'c']
n = [1, 2, 3]
x = [c, n]
x

[['a', 'b', 'c'], [1, 2, 3]]

In [46]:
x[0]

['a', 'b', 'c']

In [47]:
x[0][0]

'a'

### while statements

In [48]:
# Fibonacci series: the sum of two elements defines the next
a, b = 0, 1
while a < 10:
    print(a)
    a, b = b, a+b

0
1
1
2
3
5
8

In [49]:
# Multiple assignment: the variables a and b simultaneously get the new values.
# The while loop executes as long as the condition remains true.
# The body of the loop is indented.

In [50]:
# The keyword argument end can be used to avoid the newline after the output.
a, b = 0, 1
while a < 10:
    print(a, end=',')
    a, b = b, a+b

0,1,1,2,3,5,8,

### if statements

In [51]:
# If statements can have zero or more elif parts, and the else part is optional.
x = int(input('Please enter an integer: '))
if x < 0:
    print('You entered a negaive number.')
elif x == 0:
    print('You entered zero')
else:
    print('You entered a positive number.')

Please enter an integer: 5
You entered a positive number.

### for statements

In [52]:
# for statement iterates over the items of any sequence, in the order that they appear in the sequence.
words = ['apple', 'banana', 'carrot']
for w in words:
    print(w, len(w))

apple 5
banana 6
carrot 6

### The range() function

In [53]:
# The built-in function range() allows you to iterate over a sequence of numbers.
# The given end point is never part of the generated sequence;
for i in range(5):
    print(i)

0
1
2
3
4

In [54]:
# It is possible to let the range start at another number, or to specify a different increment.
for i in range(1, 10, 3):
    print(i)

1
4
7

In [55]:
# Combine range() and len() to terate over the indices of a sequence
words = ['apple', 'banana', 'carrot']
for i in range(len(words)):
    print(i, words[i])

0 apple
1 banana
2 carrot

### break and continue Statements, and else clauses on loops

In [56]:
# The break statement breaks out of the innermost enclosing for or while loop.
for n in range(2, 10):
    for x in range(2, n):
        if n % x == 0:
            print(n, 'equals', x, '*', n//x)
            break
    else:
        print(n, 'is a prime number')

2 is a prime number
3 is a prime number
4 equals 2 * 2
5 is a prime number
6 equals 2 * 3
7 is a prime number
8 equals 2 * 4
9 equals 3 * 3

In [57]:
# Loop statements may have an else clause; 
# It is executed when the loop terminates through exhaustion of the list (with for) or 
# when the condition becomes false (with while), but not when the loop is terminated by a break statement.

In [58]:
# The continue statement continues with the next iteration of the loop.
for num in range(2, 10):
    if num % 2 == 0:
        print("Found an even number", num)
        continue
    print("Found a number", num)

Found an even number 2
Found a number 3
Found an even number 4
Found a number 5
Found an even number 6
Found a number 7
Found an even number 8
Found a number 9

### defining functions

In [59]:
# A function returns Fibonacci series up to n
def fib(n):  
    """Return a list containing the Fibonacci series up to n."""
    result = []
    a, b = 0, 1
    while a < n:
        result.append(a)    # see below
        a, b = b, a+b
    return result

f100 = fib(100)    
f100

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [60]:
# The keyword def introduces a function definition. 
# It must be followed by the function name and the parenthesized list of formal parameters.
# All variable assignments in a function store the value in the local symbol table.
# The order of variable refernces: local symbol table, global symbol table, the table of built-in names.
# Global variables cannot be directly assigned a value within a function, although they may be referenced.

In [61]:
# Default arguments and keyword arguments
def sum_power(a, b=3, c=2):
    return (a + b) ** c

In [62]:
print(sum_power(2, 4, 3))

216

In [63]:
print(sum_power(2))

25

In [64]:
print(sum_power(2, c=5))

3125

In [65]:
# Arbitrary argument lists
# A function can be called with an arbitrary number of arguments.
# Before the variable number of arguments, zero or more normal arguments may occur.
# Any formal parameters which occur after the *args parameter are ‘keyword-only’ arguments.
def concat(*args, sep="/"):
    return sep.join(args)

In [66]:
print(concat('apple', 'banana', 'carrot'))

apple/banana/carrot

In [67]:
print(concat('apple', 'banana', 'carrot', ','))

apple/banana/carrot/,

In [68]:
print(concat('apple', 'banana', 'carrot', sep=','))

apple,banana,carrot

In [69]:
# Receives a dictionary containing all keyword arguments.
def print_student(**args):
    for k in args:
        print(k, ":", args[k])

In [70]:
print_student(name='James', gender='M', major='LIS')

name : James
gender : M
major : LIS

In [71]:
# * operator unpacks the arguments out of a list or tuple
# Dictionaries can deliver keyword arguments with the ** operator
companies = ['Apple', 'Google', 'Amazon']
print(concat(*companies))

Apple/Google/Amazon

In [72]:
student = {'name':'Sophia', 'gender':'F', 'major':'DS'}
print_student(**student)

name : Sophia
gender : F
major : DS

In [73]:
# Small anonymous functions can be created with the lambda keyword.
# Lambda functions can be used wherever function objects are required. 
def make_incrementor(n):
    return lambda x: x + n
f1 = make_incrementor(10)
print(f1(5))

15

### Lists

In [74]:
# list.append(x): Add an item to the end of the list. 
fruits = ['orange', 'apple', 'pear', 'banana']
fruits.append('kiwi')
fruits

['orange', 'apple', 'pear', 'banana', 'kiwi']

In [75]:
# list.extend(iterable): Extend the list by appending all the items from the iterable.
fruits.extend(['peach', 'grape'])
fruits

['orange', 'apple', 'pear', 'banana', 'kiwi', 'peach', 'grape']

In [76]:
# list.insert(i, x): Insert an item at a given position.
fruits.insert(0, 'cherry')
fruits

['cherry', 'orange', 'apple', 'pear', 'banana', 'kiwi', 'peach', 'grape']

In [77]:
# list.remove(x): Remove the first item from the list whose value is equal to x.
fruits.insert(4, 'orange')
fruits

['cherry',
 'orange',
 'apple',
 'pear',
 'orange',
 'banana',
 'kiwi',
 'peach',
 'grape']

In [78]:
fruits.remove('orange')
fruits

['cherry', 'apple', 'pear', 'orange', 'banana', 'kiwi', 'peach', 'grape']

In [79]:
# list.pop([i]): Remove the item at the given position in the list, and return it. 
# If no index is specified, a.pop() removes and returns the last item in the list.
fruits.pop(2)
fruits

['cherry', 'apple', 'orange', 'banana', 'kiwi', 'peach', 'grape']

In [80]:
fruits.pop()
fruits

['cherry', 'apple', 'orange', 'banana', 'kiwi', 'peach']

In [81]:
# list.clear(): Remove all items from the list.
fruits.clear()
fruits

[]

In [82]:
# list.index(x[, start[, end]]): Return zero-based index in the list of the first item whose value is equal to x.
fruits = ['orange', 'apple', 'pear', 'apple', 'banana']
fruits.index('apple')

1

In [83]:
fruits.index('apple', 2)

3

In [84]:
# list.count(x): Return the number of times x appears in the list.
fruits.count('apple')

2

In [85]:
# list.sort(key=None, reverse=False): Sort the items of the list in place
fruits

['orange', 'apple', 'pear', 'apple', 'banana']

In [86]:
fruits.sort()
fruits

['apple', 'apple', 'banana', 'orange', 'pear']

In [87]:
# list.reverse(): Reverse the elements of the list in place.
fruits

['apple', 'apple', 'banana', 'orange', 'pear']

In [88]:
fruits.reverse()
fruits

['pear', 'orange', 'banana', 'apple', 'apple']

In [97]:
# list.copy(): Return a shallow copy of the list.
fruits1 = [['apple', 'pear'],['banana', 'orange']]
fruits2 = fruits1
fruits1.append('grape')
fruits2

[['apple', 'pear'], ['banana', 'orange'], 'grape']

In [98]:
fruits1[0][1] = 'peach'
fruits2

[['apple', 'peach'], ['banana', 'orange'], 'grape']

In [99]:
# Use copy.deepcopy to return a deep copy of the list
import copy
fruits1 = [['apple', 'pear'],['banana', 'orange']]
fruits3 = copy.deepcopy(fruits1)
fruits1[0][1] = 'peach'
fruits3

[['apple', 'pear'], ['banana', 'orange']]

In [100]:
# List comprehensions provide a concise way to create lists.
squares = [x**2 for x in range(10)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [101]:
# A A list comprehension consists of brackets containing an expression followed by a for clause, 
# then zero or more for or if clauses
z = [(x, y) for x in [1,2,3] for y in [3,1,4] if x != y]
z

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [102]:
# The del statement removes an item from a list given its index instead of its value.
fruits = ['apple', 'pear', 'banana', 'peach']
del fruits[0]
fruits

['pear', 'banana', 'peach']

### Tuples

In [103]:
# A tuple consists of a number of values separated by commas.
t = 12345, 54321, 'hello!'
t

(12345, 54321, 'hello!')

In [104]:
# Tuples are immutable
t[0] = 'abcde'

TypeError: 'tuple' object does not support item assignment

In [105]:
# It is not possible to assign to the individual items of a tuple, 
# however it is possible to create tuples which contain mutable objects, such as lists.
t = ([1, 2, 3], [4, 5, 6])
t[0][0] = 'x'
t

(['x', 2, 3], [4, 5, 6])

In [106]:
t[0] = ['x', 2, 3]

TypeError: 'tuple' object does not support item assignment

In [107]:
# Tuples are immutable, and usually contain a heterogeneous sequence of elements that are accessed via unpacking.
# Lists are mutable, and their elements are usually homogeneous and are accessed by iterating over the list.

In [108]:
# Construct a tuple containing 1 item
t = ('hello',)
print(type(t))

<class 'tuple'>

In [109]:
t = ('hello')
print(type(t))

<class 'str'>

In [110]:
t = tuple('hello')
print(type(t))

<class 'tuple'>

In [111]:
# Tuple unpacking
t = 12345, 54312, 'hello!'
x, y, z = t
print(x)

12345

### Sets

In [112]:
# A set is an unordered collection with no duplicate elements. 
# Basic uses include membership testing and eliminating duplicate entries.
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
print(basket)

{'apple', 'banana', 'orange', 'pear'}

In [113]:
'orange' in basket

True

In [114]:
basket2 = {'apple', 'peach', 'kiwi'}
# fruits in basket but not in basket2
basket - basket2

{'banana', 'orange', 'pear'}

In [115]:
# fruits in basket or basket2 or both
basket | basket2

{'apple', 'banana', 'kiwi', 'orange', 'peach', 'pear'}

In [116]:
# fruits in both basket and basket2
basket & basket2

{'apple'}

In [117]:
# fruits in basket or basket2 but not both
basket ^ basket2

{'banana', 'kiwi', 'orange', 'peach', 'pear'}

In [118]:
# Set comprehensions
a = {x for x in 'abracadabra' if x not in 'abc'}
a

{'d', 'r'}

### Dictionaries

In [119]:
# Dictionaries are indexed by keys, which can be any immutable type, usually strings or numbers.
tel = {'Kate': 9290, 'James': 1248}
tel['Sophia'] = 5154
tel

{'Kate': 9290, 'James': 1248, 'Sophia': 5154}

In [120]:
# Return a list of all the keys
list(tel)

['Kate', 'James', 'Sophia']

In [121]:
# Return a list of sorted keys
sorted(tel)

['James', 'Kate', 'Sophia']

In [122]:
# Check whether a single key is in the dictionary
'Kate' in tel

True

In [123]:
# Use dict() to build ictionaries directly from sequences of key-value pairs
dict([('Kate', 9290), ('James', 1248), ('Sophia', 5154)])

{'Kate': 9290, 'James': 1248, 'Sophia': 5154}

In [124]:
# dic comprehensions
{x: x**2 for x in (2, 4, 6)}

{2: 4, 4: 16, 6: 36}

In [125]:
# When the keys are simple strings, it is  easier to specify pairs using keyword arguments.
dict(Kate=9290, James=1248, Sophia=5154)

{'Kate': 9290, 'James': 1248, 'Sophia': 5154}

### Looping

In [126]:
# Looping through dictionaries
tel = {'Kate': 9290, 'James': 1248, 'Sophia':5154}
for k, v in tel.items():
    print(k, v)

Kate 9290
James 1248
Sophia 5154

In [127]:
# When looping through a sequence, index and value can be retrieved at the same time using the enumerate() function.
for i, v in enumerate(['tic', 'tac', 'toe']):
    print(i, v)

0 tic
1 tac
2 toe

In [128]:
# To loop over two or more sequences at the same time, the entries can be paired with the zip() function.
ids = [1234, 5678, 9012]
names = ['James', 'Sophia', 'Kate']
for i, n in zip(ids, names):
    print(i, n)

1234 James
5678 Sophia
9012 Kate

In [129]:
# Reverse looping
for i in reversed(range(1, 10, 2)):
    print(i)

9
7
5
3
1

In [130]:
# Sorted looping
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
for f in sorted(set(basket)):
    print(f)

apple
banana
orange
pear

### Input and Output

In [131]:
# Formatted string literals
x = 'Beijing'
y = 'China'
print('{} is the capital of {}'.format(x, y))

Beijing is the capital of China

In [132]:
# A number in the brackets can be used to refer to the position of the object passed into the method.
print('{1} is the capital of {0}'.format('China', 'Beijing'))

Beijing is the capital of China

In [133]:
# Keyword arguments can be  used in method.
print('{city} is the capital of {country}'.format(city='Beijing', country='China'))

Beijing is the capital of China

### Reading and Writing Files

In [134]:
with open('workfile') as f:
    data = f.read()
    print(data)

This is a test line.
This is another test line.

In [135]:
with open('workfile') as f:
    line = f.readline()
    print(line)

This is a test line.

In [136]:
with open('workfile') as f:
    for line in f:
        print(line, end='')

This is a test line.
This is another test line.

In [137]:
with open('workfile') as f:
    lines = f.readlines()
    print(lines)

['This is a test line.\n', 'This is another test line.']

In [138]:
with open('workfile', 'w') as f:
    f.write('This is a test line.\n')

In [139]:
with open('workfile', 'r') as f:
    data = f.read()
    print(data)

This is a test line.

In [140]:
with open('workfile', 'a') as f:
    f.write('This is another test line.')

In [141]:
with open('workfile', 'r') as f:
    data = f.read()
    print(data)

This is a test line.
This is another test line.

In [142]:
import json
# saving structured data with json
# This serialization technique can handle lists and dictionaries.
#  JSON (JavaScript Object Notation)
fruits = ['apple', 'banana', 'cherry']
fruits_json = json.dumps(fruits)

In [143]:
# dump() serializes the object to a text file
with open('json_file', 'w') as f:
    json.dump(fruits, f)

In [144]:
# load() deserializes the object
with open('json_file', 'r') as f:
    fruits = json.load(f)
    print(fruits)

['apple', 'banana', 'cherry']

### Errors and Exceptions

In [145]:
# If the statements in try clause have not exception, the except clause is skipped.
# If an exception occurs during execution of the try clause, the rest of the clause is skipped.
# If its type matches the exception named after the except keyword, the except clause is executed.
while True:
    try:
        x = int(input("Please enter a number: "))
        break
    except ValueError:
        print("That was no valid number.  Try again...")

Please enter a number: a
That was no valid number.  Try again...
Please enter a number: 5

In [1]:
import sys
# Except clause may omit the exception name(s), to serve as a wildcard. 
# It can be used to print an error message and then re-raise the exception.
try:
    x = int(input("Please enter a number: "))
except:
    print(sys.exc_info())

Please enter a number: a
(<class 'ValueError'>, ValueError("invalid literal for int() with base 10: 'a'"), <traceback object at 0x109604348>)

In [147]:
# The except clause may specify a variable after the exception name.
try:
    x = int(input("Please enter a number: "))
except Exception as err:
    print(type(err))
    print(err.args)
    print(err)

Please enter a number: a
<class 'ValueError'>
("invalid literal for int() with base 10: 'a'",)
invalid literal for int() with base 10: 'a'

In [148]:
# The optional else cluase is useful for code that must be executed if the try clause does not raise an exception.
try:
    x = int(input("Please enter a number: "))
except ValueError:
    print("That was no valid number.  Try again...")
else:
    print('You entered ', x)

Please enter a number: 5
You entered  5

In [149]:
# Exception handlers also handle exceptions indirectly.
def f1():
    x = 1 / 0
try:
    f1()
except ZeroDivisionError as err:
    print('Handling run-time error:', err)

Handling run-time error: division by zero

In [150]:
# The raise statement allows the programmer to force a specified exception to occur. 
try:
    x = input('Please enter an ID')
    raise NameError(x)
except NameError as err:
    print('ID already exists!', err.args[0])

Please enter an IDdatascience
ID already exists! datascience

In [151]:
# User-defined exceptions
class ExisitingIDError(Exception):
    def __init__(self, expression, message):
        self.expression = expression
        self.message = message

try:
    x = input('Please enter an ID')
    raise ExisitingIDError(x, 'ID already exisits!')
except ExisitingIDError as err:
    print(err)
    print(type(err))
    print(err.args[0])

Please enter an IDdatascience
('datascience', 'ID already exisits!')
<class '__main__.ExisitingIDError'>
datascience

In [152]:
# The optional finally clause is useful for statements that must be executed under all circumstances.
try:
    x = int(input("Please enter a number: "))
except ValueError:
    print("That was no valid number.  Try again...")
finally:
    print("Thank you!")

Please enter a number: 5
Thank you!

In [153]:
# When an exception is not handled by an except clause (or it has occurred in an except or else clause), 
# It is re-raised after the finally clause has been executed.
def divide(x, y):
    try:
        result = x / y
    except ZeroDivisionError:
         print("division by zero!")
    else:
        print("result is", result)
    finally:
         print("executing finally clause")

In [154]:
divide(2, 1)

result is 2.0
executing finally clause

In [155]:
divide(2, 0)

division by zero!
executing finally clause

In [156]:
divide('2', '1')

executing finally clause

TypeError: unsupported operand type(s) for /: 'str' and 'str'

### Classes

In [157]:
# The local assignment (default) does not change scope_test’s binding of spam.
# The nonlocal assignment changed scope_test’s binding of spam.
# The global assignment changed the module-level binding.
def scope_test():
    def do_local():
        spam = "local spam"

    def do_nonlocal():
        nonlocal spam
        spam = "nonlocal spam"

    def do_global():
        global spam
        spam = "global spam"

    spam = "test spam"
    do_local()
    print("After local assignment:", spam)
    do_nonlocal()
    print("After nonlocal assignment:", spam)
    do_global()
    print("After global assignment:", spam)

scope_test()
print("In global scope:", spam)

After local assignment: test spam
After nonlocal assignment: nonlocal spam
After global assignment: nonlocal spam
In global scope: global spam

In [158]:
# class definition
# The instance object is passed as the first argument of the function.
class Student():
    def __init__(self, name, major):
        self.name = name
        self.major = major
    
    def get_info(self):
        print(self.name, ' is majoring in ', self.major)

kate = Student('Kate', 'LIS')
kate.get_info()

Kate  is majoring in  LIS

In [159]:
# Class variable vs. instance variable
# Class variables are for attributes and methods shard by all instances of the class
# Instance variables are for data unique to each instance
class Dog:

    tricks = []             

    def __init__(self, name):
        self.name = name

    def add_trick(self, trick):
        self.tricks.append(trick)

d = Dog('Fido')
e = Dog('Buddy')
d.add_trick('roll over')
e.add_trick('play dead')
d.tricks

['roll over', 'play dead']

In [160]:
class Dog:

    def __init__(self, name):
        self.name = name
        self.tricks = []    

    def add_trick(self, trick):
        self.tricks.append(trick)

d = Dog('Fido')
e = Dog('Buddy')
d.add_trick('roll over')
e.add_trick('play dead')
d.tricks

['roll over']

In [161]:
# Inheritance
class Person:
    def __init__(self, name):
        self.name = name

    def get_name(self):
        return self.name
    
class Employee(Person):
    def __init__(self, name, employee_id):
        Person.__init__(self, name)
        self.employee_id = employee_id
        
    def get_id(self):
        return self.employee_id

x = Person('Sophia')
y = Employee('James', 'E00700')
                 
print(x.get_name())
print(y.get_name())
print(y.get_id())

Sophia
James
E00700

### The Standard Library

In [162]:
# Return the current working directory
import os
os.getcwd()

'/Users/Zhu/Dropbox/Teaching Sungkyunkwan/DSC3010/Lecture 3'

In [163]:
dir(os)

['CLD_CONTINUED',
 'CLD_DUMPED',
 'CLD_EXITED',
 'CLD_TRAPPED',
 'DirEntry',
 'EX_CANTCREAT',
 'EX_CONFIG',
 'EX_DATAERR',
 'EX_IOERR',
 'EX_NOHOST',
 'EX_NOINPUT',
 'EX_NOPERM',
 'EX_NOUSER',
 'EX_OK',
 'EX_OSERR',
 'EX_OSFILE',
 'EX_PROTOCOL',
 'EX_SOFTWARE',
 'EX_TEMPFAIL',
 'EX_UNAVAILABLE',
 'EX_USAGE',
 'F_LOCK',
 'F_OK',
 'F_TEST',
 'F_TLOCK',
 'F_ULOCK',
 'MutableMapping',
 'NGROUPS_MAX',
 'O_ACCMODE',
 'O_APPEND',
 'O_ASYNC',
 'O_CLOEXEC',
 'O_CREAT',
 'O_DIRECTORY',
 'O_DSYNC',
 'O_EXCL',
 'O_EXLOCK',
 'O_NDELAY',
 'O_NOCTTY',
 'O_NOFOLLOW',
 'O_NONBLOCK',
 'O_RDONLY',
 'O_RDWR',
 'O_SHLOCK',
 'O_SYNC',
 'O_TRUNC',
 'O_WRONLY',
 'PRIO_PGRP',
 'PRIO_PROCESS',
 'PRIO_USER',
 'P_ALL',
 'P_NOWAIT',
 'P_NOWAITO',
 'P_PGID',
 'P_PID',
 'P_WAIT',
 'PathLike',
 'RTLD_GLOBAL',
 'RTLD_LAZY',
 'RTLD_LOCAL',
 'RTLD_NODELETE',
 'RTLD_NOLOAD',
 'RTLD_NOW',
 'R_OK',
 'SCHED_FIFO',
 'SCHED_OTHER',
 'SCHED_RR',
 'SEEK_CUR',
 'SEEK_DATA',
 'SEEK_END',
 'SEEK_HOLE',
 'SEEK_SET',
 'ST_NOSUID',
 'ST_RDONLY',
 'TMP_MAX',
 'WCONTINUED',
 'WCOREDUMP',
 'WEXITED',
 'WEXITSTATUS',
 'WIFCONTINUED',
 'WIFEXITED',
 'WIFSIGNALED',
 'WIFSTOPPED',
 'WNOHANG',
 'WNOWAIT',
 'WSTOPPED',
 'WSTOPSIG',
 'WTERMSIG',
 'WUNTRACED',
 'W_OK',
 'X_OK',
 '_Environ',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_execvpe',
 '_exists',
 '_exit',
 '_fspath',
 '_fwalk',
 '_get_exports_list',
 '_putenv',
 '_spawnvef',
 '_unsetenv',
 '_wrap_close',
 'abc',
 'abort',
 'access',
 'altsep',
 'chdir',
 'chflags',
 'chmod',
 'chown',
 'chroot',
 'close',
 'closerange',
 'confstr',
 'confstr_names',
 'cpu_count',
 'ctermid',
 'curdir',
 'defpath',
 'device_encoding',
 'devnull',
 'dup',
 'dup2',
 'environ',
 'environb',
 'error',
 'execl',
 'execle',
 'execlp',
 'execlpe',
 'execv',
 'execve',
 'execvp',
 'execvpe',
 'extsep',
 'fchdir',
 'fchmod',
 'fchown',
 'fdopen',
 'fork',
 'forkpty',
 'fpathconf',
 'fsdecode',
 'fsencode',
 'fspath',
 'fstat',
 'fstatvfs',
 'fsync',
 'ftruncate',
 'fwalk',
 'get_blocking',
 'get_exec_path',
 'get_inheritable',
 'get_terminal_size',
 'getcwd',
 'getcwdb',
 'getegid',
 'getenv',
 'getenvb',
 'geteuid',
 'getgid',
 'getgrouplist',
 'getgroups',
 'getloadavg',
 'getlogin',
 'getpgid',
 'getpgrp',
 'getpid',
 'getppid',
 'getpriority',
 'getsid',
 'getuid',
 'initgroups',
 'isatty',
 'kill',
 'killpg',
 'lchflags',
 'lchmod',
 'lchown',
 'linesep',
 'link',
 'listdir',
 'lockf',
 'lseek',
 'lstat',
 'major',
 'makedev',
 'makedirs',
 'minor',
 'mkdir',
 'mkfifo',
 'mknod',
 'name',
 'nice',
 'open',
 'openpty',
 'pardir',
 'path',
 'pathconf',
 'pathconf_names',
 'pathsep',
 'pipe',
 'popen',
 'pread',
 'putenv',
 'pwrite',
 'read',
 'readlink',
 'readv',
 'register_at_fork',
 'remove',
 'removedirs',
 'rename',
 'renames',
 'replace',
 'rmdir',
 'scandir',
 'sched_get_priority_max',
 'sched_get_priority_min',
 'sched_yield',
 'sendfile',
 'sep',
 'set_blocking',
 'set_inheritable',
 'setegid',
 'seteuid',
 'setgid',
 'setgroups',
 'setpgid',
 'setpgrp',
 'setpriority',
 'setregid',
 'setreuid',
 'setsid',
 'setuid',
 'spawnl',
 'spawnle',
 'spawnlp',
 'spawnlpe',
 'spawnv',
 'spawnve',
 'spawnvp',
 'spawnvpe',
 'st',
 'stat',
 'stat_result',
 'statvfs',
 'statvfs_result',
 'strerror',
 'supports_bytes_environ',
 'supports_dir_fd',
 'supports_effective_ids',
 'supports_fd',
 'supports_follow_symlinks',
 'symlink',
 'sync',
 'sys',
 'sysconf',
 'sysconf_names',
 'system',
 'tcgetpgrp',
 'tcsetpgrp',
 'terminal_size',
 'times',
 'times_result',
 'truncate',
 'ttyname',
 'umask',
 'uname',
 'uname_result',
 'unlink',
 'unsetenv',
 'urandom',
 'utime',
 'wait',
 'wait3',
 'wait4',
 'waitpid',
 'walk',
 'write',
 'writev']

In [164]:
# The glob module provides a function for making file lists from directory
import glob
glob.glob('*.py')

[]

In [165]:
# The re module provides regular expression tools for advanced string processing
import re
str1 = 'My phone number is 010-1234-5678'
str2 = 'Please call me at 010-1111-2222'
number1 = re.findall(r'\d+-\d+-\d+' ,str1)
number2 = re.findall(r'\d+-\d+-\d+' ,str2)
print(number1)
print(number2)

['010-1234-5678']
['010-1111-2222']

In [166]:
# The random module provides tools for making random selections.
import random
random.choice(['apple', 'pear', 'banana'])

'pear'

In [167]:
random.sample(range(50, 100), 10)

[75, 59, 87, 73, 70, 96, 63, 78, 83, 69]

In [168]:
# The statistics module calculates basic statistical properties.
import statistics
data = [2.75, 1.75, 1.25, 0.25, 0.5, 1.25, 3.5]
print(statistics.mean(data))
print(statistics.median(data))
print(statistics.variance(data))

1.6071428571428572
1.25
1.3720238095238095

In [2]:
#  urllib.request for retrieving data from URLs
from urllib.request import urlopen
with urlopen('http://www.skku.edu') as response:
    for line in response:
        line = line.decode('utf-8')  # Decoding the binary data to text.
        #print(line)

In [170]:
# The datetime module supplies classes for manipulating dates and times
import datetime
now = datetime.datetime.now()
print(now)

2018-09-18 11:49:42.276214

In [171]:
birth_date = datetime.date(1960, 7, 31)
age = now.year - birth_date.year
age

58

In [172]:
# Data compression
import zlib
s1 = b'This should be a long long long long long text'
s2 = zlib.compress(s1)
print(s1)
print(s2)
print(len(s1))
print(len(s2))
s3 = zlib.decompress(s2)
print(len(s3))

b'This should be a long long long long long text'
b'x\x9c\x0b\xc9\xc8,V(\xce\xc8/\xcdIQHJUHT\xc8\xc9\xcfK\xc7J\x94\xa4V\x94\x00\x00\x82S\x10\xa5'
46
35
46

In [173]:
# The timeit module supports performance measurement.
from timeit import timeit
code1 = '''
l =list()
for i in range(100):
    l.append(l)
'''
code2 = '''
l = list()
l = [i for i in range(100)]
'''
print('code1 ', timeit(stmt=code1, number=10000))
print('code2 ', timeit(stmt=code2, number=10000))

code1  0.10172312099996361
code2  0.041675509000015154